{% extends "admisiones/menuAdmisiones.html" %}
{% load static %}

{% block content %}


<!-- <div class="container">  -->
</hr>

<div class="row">

    <div class="col-lg-12" style="background-color:LightGray;">
        <div class="card-block">
            <div style="height: 100px; ">
                <!--  <table class="table  " style="height: 100px; background-color:LightGray; border: 2px solid black; border-radius: 100px; width:99%;"> -->
                <!--  <tr > -->
                <!-- iNGRESAR UN FORMULARIO AQUIP -->
                <!--   <div class="container"> -->
                <form class="form-inline" action="/buscarAdmision/" method="post" id="FormBuscar"><input type="hidden"
                                                                                                         name="csrfmiddlewaretoken"
                                                                                                         value="MJ1CwN7LHRoBZUnyQoPpHBnb4M3PwGYmsLJeNsN92l41zY9ZaUPztrhcMWyUTHxc">
                 <div class="row">
                 </div>

                    <div class="row">
                        <div class="form-group">

                            <label for="busServicio" class="col-form-label">Servicios:</label>
                            <select id="busServicio" name="busServicio">
                                {% for servicios in Servicios %}
                                <option value="{{servicios.id}}"> {{servicios.nombre}}</option>
                                {% endfor %}
                            </select>

                            <label for="busSubServicio" class="col-form-label">SubServicios:</label>
                            <select id="busSubServicio" name="busSubServicio">
                                {% for subServicios in SubServicios %}
                                <option value="{{subServicios.id}}"> {{subServicios.nombre}}</option>
                                {% endfor %}
                            </select>

                            <label for="busHabitacion" class="col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Habitacion:</label>
                            <select id="busHabitacion" name="busHabitacion">
                                {% for habitaciones in Habitaciones %}
                                <option value="{{habitaciones.id}}"> {{habitaciones.nombre}}</option>
                                {% endfor %}
                            </select>


                            <label for="busTipoDoc"
                                   class="col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TipoDoc:</label>
                            <select id="busTipoDoc" name="busTipoDoc">
                                {% for tiposDoc in TiposDoc %}
                                <option value="{{tiposDoc.id}}"> {{tiposDoc.nombre}}</option>
                                {% endfor %}
                            </select>

                            <label class="required"
                                   for="busDocumento">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Documento:</label>

                            <input type="text" id="busDocumento" name="busDocumento"></input>

                            <label class="required"
                                   for="busPaciente">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Paciente:</label>

                            <input type="text" id="busPaciente" name="busPaciente"></input>


                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group">
                            <label class="required" for="busDesde">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Desde:&nbsp;&nbsp;&nbsp;</label>

                            <input type="Date" id="busDesde" name="busDesde"></input>

                            <label class="required" for="busHasta"> &nbsp;&nbsp;&nbsp;Hasta:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>

                            <input type="Date" id="busHasta" name="busHasta"></input>

                            <label for="busEspecialidad" class="col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Especialidad: &nbsp;&nbsp;&nbsp;</label>
                            <select id="busEspecialidad" name="busEspecialidad">
                                {% for especialidades in Especialidades %}
                                <option value="{{especialidades.id}}"> {{especialidades.nombre}}</option>
                                {% endfor %}
                            </select>

                            <label for="busMedico" class="col-form-label"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Medico: &nbsp;&nbsp;&nbsp;</label>

                            <select id="busMedico" name="busMedico">
                                {% for medico in Medicos %}
                                <option value="{{medico.id}}"> {{medico.nombre}}</option>
                                {% endfor %}
                            </select>

                        </div>


                    </div>

                    <div class="form-group">


                        <input type="hidden" id="Sede" name="Sede" value="{{Sede}}">
                        <input type="hidden" id="Servicio" name="Servicio" value="{{Servicio}}">
                        <input type="hidden" id="Perfil" name="Perfil" value="{{Perfil}}">
                        <input type="hidden" id="Username" name="Username" value="{{Documento}}">
                        <input type="hidden" id="Username_id" name="Username_id" value="{{Username_id}}">
                        <input type="hidden" id="nombreSede" name="nombreSede" value="{{NombreSede}}">
                    </div>


                    <span id="error" name="error" style="color:blue">{{Error}}</span>


                    <div class="submit-row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" value="BUSCAR PACIENTES">
                    </div>
                </form>
                <!--   <div/> -->
                <!--    <tr /> -->

                <!-- fim formulario -->


                <!--    </table>  -->
            </div>
            </hr>


        </div>

    </div>

</div>

<div class="row">
    <div class="col-lg-12" style="background-color:LightGray;">


        <div class="card-block">
            <div style="height: 600px; overflow: auto">
                <table class="table table-hover"
                       style="height: 600px , background-color:LightGray; border: 2px solid black; border-radius: 10px; width:99%;">
                    <thead>
                    <th>Tipo Doc</th>
                    <th>Documento</th>
                    <th>Paciente</th>
                    <th>Ingreso</th>
                    <th>Fec.Ingreso</th>
                    <th>Fec.Salida</th>
                    <th>Servicio</th>
                    <th>Dependencia</th>
                    <th>Dx</th>


                    </thead>
                    {% for ingresos in Ingresos %}
                    <tr>
                        <td>{{ ingresos.tipoDoc }}</td>
                        <td>{{ ingresos.Documento }}</td>
                        <td>{{ ingresos.Nombre }}</td>
                        <td>{{ ingresos.Consec }}</td>
                        <td>{{ ingresos.FechaIngreso }}</td>
                        <td>{{ ingresos.FechaSalida }}</td>
                        <td>{{ ingresos.servicioNombreIng }}</td>
                        <td>{{ ingresos.camaNombreIng }}</td>
                        <td>{{ ingresos.DxActual }}</td>


                    </tr>
                    {% endfor %}

                    <tbody>


                    </tbody>

                </table>
            </div>


        </div>


    </div>


</div>


<div class="row">

    <div class="col-lg-12" style="background-color:LightGray;">


        <div class="card-block">
            <div style="height: 150px; overflow: auto">
                <table class="table "
                       style="height: 100px, background-color:LightGray; border: 2px solid black; border-radius: 10px;width:99%;">
                    <form class="form-inline"
                          action="/crearAdmision/{{Sede}} , {{Perfil}},  {{Username}}, {{Username_id}} " method="get"
                          id="login-form"><input type="hidden"
                                                 name="csrfmiddlewaretoken"
                                                 value="MJ1CwN7LHRoBZUnyQoPpHBnb4M3PwGYmsLJeNsN92l41zY9ZaUPztrhcMWyUTHxc">


                        <tr>
                            <input type="hidden" id="nombreSede" name="nombreSede" value="{{nombreSede}}">

                            <td></td>

                            <td><input type="submit" id="btnCrearIngreso" name="btnCrearIngreso"
                                       value="Crear Admision"> </input></td>
                    </form>
                    <form class="form-inline" action="/crearResponsables/" method="get" id="login-form"><input
                            type="hidden"
                            name="csrfmiddlewaretoken"
                            value="MJ1CwN7LHRoBZUnyQoPpHBnb4M3PwGYmsLJeNsN92l41zY9ZaUPztrhcMWyUTHxc">

                        <td><input type="submit" id="btnResponsables" name="btnResponsables"
                                   value="Responsables"> </input></td>
                    </form>
                    <form class="form-inline" action="/crearAbonos/" method="get" id="login-form"><input type="hidden"
                                                                                                         name="csrfmiddlewaretoken"
                                                                                                         value="MJ1CwN7LHRoBZUnyQoPpHBnb4M3PwGYmsLJeNsN92l41zY9ZaUPztrhcMWyUTHxc">


                        <td><input type="submit" id="btnAbonos" name="btnAbonos" value="Abonos"> </input></td>

                    </form>

                    <form class="form-inline" action="/cambioServicio/" method="get" id="login-form"><input
                            type="hidden"
                            name="csrfmiddlewaretoken"
                            value="MJ1CwN7LHRoBZUnyQoPpHBnb4M3PwGYmsLJeNsN92l41zY9ZaUPztrhcMWyUTHxc">

                        <td><input type="submit" id="btnCambioServicios" name="btnCambioServicios"
                                   value="Cambio Servicio"></input></td>
                    </form>

                    <form class="form-inline" action="/habitaciones/" method="get" id="login-form"><input type="hidden"
                                                                                                          name="csrfmiddlewaretoken"
                                                                                                          value="MJ1CwN7LHRoBZUnyQoPpHBnb4M3PwGYmsLJeNsN92l41zY9ZaUPztrhcMWyUTHxc">
                        <td><input type="submit" id="btnHabitaciones" name="btnHabitaciones"
                                   value="Habitaciones"></input></td>

                    </form>

                    <form class="form-inline" action="/autorizaciones/" method="get" id="login-form"><input
                            type="hidden"
                            name="csrfmiddlewaretoken"
                            value="MJ1CwN7LHRoBZUnyQoPpHBnb4M3PwGYmsLJeNsN92l41zY9ZaUPztrhcMWyUTHxc">
                        <td><input type="submit" id="btnAutorizaciones" name="btnAutorizaciones"
                                   value="Autorizaciones"></input></td>

                    </form>
                    <td></td>
                    <td></td>


                    </tr>

                    <tr>
                        <td></td>

                        <td><input type="button" id="btnCenso" name="btnCenso" value="Censo"> </input></td>
                        <td><input type="button" id="btnUsuarios" name="btnUsuarios" value="Datos usuarios"></input>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Colaborador : {{Documento}}</td>
                        <td></td>
                    </tr>


                    </form>


                </table>
            </div>
            </hr>


        </div>


    </div>

</div>


<!-- </div>  -->


{% endblock %}

